body{
    background-color: rgb(255, 255, 255);
    font-family: Arial, Helvetica, sans-serif;
    
}

h1{
    color: black;
    font-family: Arial, Helvetica, sans-serif;
}

.title {
    font-size: 20px;
}
